// Define variables for your color scheme

// Scrapit colors:


$brightblue: #2FD4E5;
$lightblue: #1CBECE;
$aqua: #37E2CE;
$midteal: #25C0D0;
$darkteal: #0C5971;
$nearblack: #022121;


$white: #FBFBFB;
$lightgrey: #F0EFEF;
$midgrey: #A0A0A0;

$orange: #F6B86E;
$red: #FD0F15;
