// Define variables for your color scheme

// Scrapit colors:


$brightblue: #00DAE9;
$lightblue: #1CBECE;
$aqua: #00E5D7;
$midteal: #00A8B7;
$darkteal: #008089;
$nearblack: #022121;


$white: #FBFBFB;
$lightgrey: #F2F1F1;
$midgrey: #ACAFAF;

$orange: #FFC585;
$red: #FD0F15;
