.driver-pickup-card{
  h3{
    margin: 10px;
    color: $aqua;
  }
  .container {
    display: flex;
    flex-direction: column;

  }
  height: 86vh;
  display: flex;
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
  border: none;
  margin-bottom: 16px;
  background: $white;
  border: 1.5px solid #E5E5E5;
  border-radius: 5px;
}

.icons {
  img {
    border-radius: 50%;
    border: 6px solid $aqua;
  }
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}
.thumbs-down{
  img{
    border-color: $orange !important;
  }
}

.woohoo-check{
  #woohoo{
    margin-top: 25px;
    color: $aqua;
    font-size: 34px;
  }
  #feedback-sent{
    margin-top: 15px;
    color: $midgrey;
    font-size: 13px;
  }
  .btn{
    margin-top: 20px;
  }
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#approve-response-container{
  justify-content: center;
  align-items: center;
  padding: 10vh 10px;
}

#disapprove-response-container {
  align-items: start;
  padding: 10px 40px;
}