.driver-dashboard{
  h3{
    font-weight: 500;
  }
  h4{
    margin-bottom: 0 !important;
    font-size: 1.3rem;
  }
  margin-top: 15px;
}

.confirm-pickup{
  .btn{
    margin: 4px 4px 4px 0px;
  }
}

.driver-controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.map_background_color {
  background-color: white;
}

.driver-current-pickups {
  .confirm-pickup{
    width: 25%;
  }
  .feedback{
    width: 50%;
  }
  .card-date{
    width: 25%;
  }
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
  height: 100px;
  border: none;
  margin-bottom: 16px;
  background: $white;
  border: 1.5px solid #E5E5E5;
  border-radius: 5px;
}