#loginbk {
background-image: linear-gradient(#61D2DD, #73EBDD);
background-size: cover;
height: 100vh;
}

#logo-container {
    position: absolute;
    width: 283px;
    left: 14.6%;
    top: 26%;
    bottom: 63%;
    
}

.concontainer {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#btn-container {
    position: relative;
    top: 9rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 48vh;
    // margin-top: 17rem;
    width: 100%;
    
}

#btn-login {
    color: $midteal;
    background-color: $white;
    font-weight: 700;
    border-radius: 5px;
}

.btnlogin {
    display: flex;
    justify-content: center;
    width: 100%;
    color: $midteal;
    background-color: $white;
    font-weight: 700;
    border-radius: 5px;
} 

.rowlogin {
    display: flex;
    justify-content: center;
    height: 12vw;
    margin-left: 6vw;
    margin-right: 6vw;
}
.logintext h1 {
    color: white;
    text-align: center;
}
.logintext p {
    color: #EDEDED;
    text-align: center;
}