.map_btn {
    margin-bottom: 3vh;
    margin-top: 3vh;
    padding: 10px 12px;
    width: 100%;
    background-color:#45D4E5 ;
    color: white;
    font-weight: bold;
    // margin-left: 4vw;
}

.map-container {
    padding: 4%;
}

.map-btn-container {
    margin-bottom: 3vh;
    margin-top: 2vh;
}
#map {
    
}