.rewards-colored {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.points-circle {

  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: $white;
  width: 100px !important;
  height: 100px !important;
  border-radius: 50%;
  border: $midteal solid 5px;

  h1 {
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    color: $midteal;
  }

  #big-points {
    font-size: 28px;
  }
}

.points-detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 65%;
  padding-left: 20px;

  h3 {
    margin: auto auto;
    text-align: center;
    font-size: 12px;
    color: $white;
  }
}

.header-box {
  h4 {
    margin: 0px;
    font-size: 16px;
    font-weight: 600;
    width: 90%;
    color: $darkteal;
  }

  background-color: $white;
  width: 100%;
  margin: 0px;
  border-radius: 5px 5px 0px 0px;
  padding: 10px 0px 5px 10px;
}

.list-rewards {
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
  border-radius: 5px;
}

.rewards-wrapper {

  p {
    text-align: left;
    margin: 5px 0px 0px 20px;
    width: 200px;
    padding-top: 5px;
  }

  .reward-card {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 10px 0px;
    border-bottom: #e6e6e6 solid 1px;
  }

  .rewardtitle {
    width: 3fr;
  }
  background-color: $white;
  flex-direction: column;
  width: 100%;
  align-items: center;
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 15px;
  overflow-y: scroll;
  height: 250px;
}


.redeem {
  h4 {
    text-align: center;
  }

  .grey-btn{
    background-color: $midgrey;
    font-size: 12px;
    color: $white;
    font-weight: 700;
    border-radius: 5px;
    border: none;
    padding: 5px 5px;
    box-shadow: 1px 4px 4px 0px rgba(239, 239, 241, 1);
  }

  .btn-redeem{
    width: 100%;
  }

  max-width: 30%;
  margin: 0px;
}


.dropdown{
  .btn-secondary {
    background-color: #C4C4C4;
    border: none;
    padding: 2px 2px 2px 2px;
    width: 200px;
  }

  a {
    color: $midgrey;
    padding: 5px 10px;
  }

  .btn-redeem {
    color: white !important;
    text-align: center;
  }

  display: flex;
  margin: 0px auto;
  padding-top: 10px;
  padding-bottom: 5px;
  justify-content: space-between;
  width: 90%;
  color: $midgrey;
  text-align: center;
}
