.rating {
  justify-content: right;
}

.rating-whoops {
  color: $orange;
}

.feedback {
  flex-grow: 2;
}

.card-feedback {
  background-color: rgba(246, 184, 110, 0.48);
  border: 1px solid #EEEDED;
box-sizing: border-box;
border-radius: 20px;
}


// .vertical-bar {
//   height: 100%;
//   width: 1px;
//   border-top: 0;
//   border-left: 1px solid rgba(0, 0, 0, 0.1);
// }