<div class="reward-modal-background">
  <div class="reward-modal-body">
    <i class="close-reward far fa-times-circle"></i>
      <div class="reward-info">
        <h4><%= reward.name %></h4>
        <div class="reward-detail">
          <p><%= reward.description %></p>
          <button class="btn-redeem">click to access OTP</button>
          <div id="redeem-code"></div>
        </div>
      </div>
  </div>
</div>
