<div class="woohoo-check">
  <%= image_tag 'review_check.svg' %>
  <span id='woohoo'>Whoohoo!</span>
  <span id='feedback-sent'>Your feedback was sent</span>
  <%= link_to 'Continue Pickup Route', driver_dashboard_path, class: 'btn btn-primary' %>
</div>
