<div class="map-container">
  <div class="map-btn-container">
    <%= link_to "Go back", driver_dashboard_path, class: "btn btn-primary w-100" %>
  </div>
<div
  id="map"
  style="width: 100%;
  height: 600px;"
  data-markers="<%= @markers.to_json %>"

  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"

></div>
  <p class="mt-2" style="text-align: center; padding-top: 50px;">© Scrapit Technologies 2020</p>
  </div>  