<div class="container">
  <div>
    <h1>Reward preferences</h1>
  </div>
  <div>
    <h2>Select at least two categories of rewards</h2>

    <%= render 'form' %>
  <button class="btn-primary">Next</button>
</div>

