<div class="category-container">
  <div>
    <%# <h1 >Reward preferences</h1> %>
  </div>
  <div>
    <h2>Choose at least two categories for your rewards !</h2>

      <%= render 'form' %>
  </div>
</div>

