  <% if @pickups %>
    <% svg = RQRCode::QRCode.new(" http://465207f4.ngrok.io#{review_pickup_path(@pickups[0].id)}").as_svg %>
  <% end %>
  <div class="container mr-5 mb-5">
    <%= svg.html_safe %>
  </div>