<div class="container">
  <% if @next_pickup %>
    <h4>Your next pickup is scheduled for:</h4>
    <h3><%= @next_pickup.date %></h3>
    <h4><%= @next_pickup.time_of_day %></h4>
  <% else %>
    <h3>Schedule a pickup</h3>
  <% end %>
  <%= link_to "Book a pickup", new_pickup_path %>
</div>