<div class="container">

  <div class="row">
    <div class="col-md-6 px-0 mx-auto">
      <% if @next_pickup.date == Date.today %>
        <%= render 'pickup_status' %>
      <% elsif @next_pickup %>
        <%= render 'next_pickup' %>
      <% else %>
        <%= render 'no_pickup' %>
      <% end %>
    </div> <!-- COL -->
  </div> <!-- ROW -->

<hr>


  <div class="row">
    <div class="col-md-6 px-0 mx-auto">
      <h4>Your Past Pickups:</h4>
      <%= render 'past_pickups' %>
    </div> <!-- COL -->
  </div> <!-- ROW -->


</div>
