.btn-primary {
  color: $white;
  font-weight: 700;
  border-radius: 5px;
  box-shadow: 1px 4px 4px 0px rgba(239, 239, 241, 1);

}

.btn-primary:hover {
  background-color: $midteal !important;
  border-radius: 5px;
}

#btn-white {
  color: $midteal;
  background-color: $white;
  font-weight: 700;
  border-radius: 5px;
}

.btn-redeem {
  background-color: $brightblue;
  font-size: 16px;
  color: $white;
  font-weight: 700;
  padding: 5px;
  border-radius: 5px;
  border: none;
}

