.btn-primary {
  color: $white;
  font-weight: 700;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: $midteal !important;
}

#btn-white {
  color: $darkteal;
  background-color: $white;
  font-weight: 700;

}

#btn-redeem:active {

}

#btn-redeem {

}
