.btn-primary {
  color: $white;
  font-weight: 700;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: $midteal !important;
}

#btn-white {
  color: $midteal;
  background-color: $white;
  font-weight: 700;

}

.btn-redeem {
  background-color: $brightblue;
  font-size: 16px;
  color: $white;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

