.navbar-lewagon {
  justify-content: space-between;
  background: $aqua;
  margin-bottom: 0px;
  .scrapit-driver{
    font-size: 24px;
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}
