.feedback {
  .card-feedback {
    background-color: rgba(246, 184, 110, 0.48);
    border: 1px solid #EEEDED;
    box-sizing: border-box;
    border-radius: 20px;
    color: #6A6868;
    font-size: 12px;
    padding: 2px 0px;  
    text-align: center;
  }
  padding: 0 10px;
}

.card-pickup{
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
  border: none;
  height: 72px;
  margin-bottom: 16px;
  background: $white;
  border: 1.5px solid #E5E5E5;
  border-radius: 5px;
}

.card-no-pickup {
  &.card{
    height: 200px;
  }
  div{
    display: flex;
    flex-wrap:wrap;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #999999;
  }

}

.card-date{
  width: 20%;
  align-items: center;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid $midgrey;
}

.card-schedule {
  p {
    color: #999999;
    margin-bottom: 0;
    text-align:left;
  }
  .scehdule-text{
    width: 100%;
  }
  box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.09);
  border: none;
  width: 100%;
  background: $white;
  border-radius: 5px 5px 0px 0px;
  height: 140px;
  padding-left: 10px !important;
  // position:absolute;

}

.schedule-container{
  display: flex;
  flex-direction: row;
  .reschedule {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .btn {
    background-color: #C5F9F2;
    border: none;
    color: #37E2CE;
    font-size: 12px;
    font-weight: 400;
  }
}

.schedule-date{
  h3{
    line-height: 1;
    font-size: 50px;
    margin-bottom: 0;
    font-weight: 700 !important;
  }
  span{
    line-height: 2;
    font-size: 15px;
    font-weight: 700 !important;
  }
  width: 20%;
  color: #37E2CE;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.schedule-day {
  h3 {
    font-size: 23px;
    font-weight: 400;
    color: #626161;
    margin-bottom: 0;
  }
  p {
    color: #626161;
  }
  width: 50%;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space;
  border-right: 1px solid $midgrey;
  margin: 10px 5px 10px 5px;
}

.reward-container {

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 9px;

  &.card-colored {
    height: 122px;
    margin-top: -15px;
    // z-index: 1000;
    // position:relative;
    // top: 133px;
    // display: none;
  }
}

.reward-container-text {
  p{
    color: #066E77;
  margin: 0;
  }
  span{
    font-size: 17px;
    font-weight: 700;
  }
  
  width: 60%;
  padding: 10px;
  padding-left: 0px;
  word-break: break-word;
}

.reward-progress-card {
  span{
    color: #089AA9;
    font-size: 10px;
  }

  text-align: center;
  background-color: white;
  height: 80%;
  padding: 0 12px;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}